<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="../../../modules/system/tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="RainLab User Plugin">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="APP_LOCALE" value="en" />
        <env name="CACHE_DRIVER" value="array" />
        <env name="SESSION_DRIVER" value="array" />
        <env name="DB_CONNECTION" value="sqlite" />
        <env name="DB_DATABASE" value=":memory:" />
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./classes</directory>
            <directory suffix=".php">./components</directory>
            <directory suffix=".php">./controllers</directory>
            <directory suffix=".php">./facades</directory>
            <directory suffix=".php">./models</directory>
            <directory suffix=".php">./notifyrules</directory>
        </include>
        <exclude>
            <file>./Plugin.php</file>
            <directory>./tests</directory>
            <directory>./updates</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
