<a
    href="javascript:;"
    onclick="$('#accountDeactivateForm').toggle()">
    {{ 'rainlab.user::lang.account.deactivate_toggle'|trans }}
</a>

<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
        <hr />
        <h3>{{ 'rainlab.user::lang.account.deactivate'|trans }}</h3>
        <p>
        {{ 'rainlab.user::lang.account.deactivate_notice'|trans }}
        </p>
        <div class="form-group">
            <label for="accountDeletePassword">{{ 'rainlab.user::lang.account.deactivate_password'|trans }}</label>
            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
        </div>
        <button type="submit" class="btn btn-danger">
            {{ 'rainlab.user::lang.account.deactivate_confirm'|trans }}

        </button>
        <a
            href="javascript:;"
            onclick="$('#accountDeactivateForm').toggle()">
            {{ 'rainlab.user::lang.account.deactivate_changed'|trans }}
        </a>
    {{ form_close() }}
</div>
