<form
    data-request="onRegister">
    <div class="form-group">
        <label for="registerName">{{ language.full_name }}</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="{{language.enter_your_name}}" />
    </div>

    <div class="form-group">
        <label for="registerEmail">Email</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="{{language.enter_your_email}}" />
    </div>

    <div class="form-group">
        <label for="registerPassword">{{language.password}}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="{{language.enter_your_password}}" />
    </div>

    <button type="submit" class="btn btn-default">Register</button>
</form>
