{% if canRegister %}
    <h3>{# Register #}{{ 'rainlab.user::lang.account.register' | trans }}</h3>

    {{ form_ajax('onRegister') }}

        <div class="form-group">
            <label for="registerName">{# Full Name #}{{ 'rainlab.user::lang.account.full_name' | trans }}</label>
            <input
                name="name"
                type="text"
                class="form-control"
                id="registerName"
                placeholder="{# Enter your full name #}{{ 'rainlab.user::lang.account.full_name_placeholder' | trans }}" />
        </div>

        <div class="form-group">
            <label for="registerEmail">{# Email #}{{ 'rainlab.user::lang.account.email' | trans }}</label>
            <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder="{# Enter your email #}{{ 'rainlab.user::lang.account.email_placeholder' | trans }}" />
        </div>

        {% if loginAttribute == "username" %}
            <div class="form-group">
                <label for="registerUsername">{# Username #}{{ 'rainlab.user::lang.user.username' | trans }}</label>
                <input
                    name="username"
                    type="text"
                    class="form-control"
                    id="registerUsername"
                    placeholder="{# Enter your username #}{{ 'rainlab.user::lang.account.username_placeholder' | trans }}" />
            </div>
        {% endif %}

        <div class="form-group">
            <label for="registerPassword">{# Password #}{{ 'rainlab.user::lang.account.password' | trans }}</label>
            <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder="{# Choose a password #}{{ 'rainlab.user::lang.account.choose_password_placeholder' | trans }}" />
        </div>

        <button type="submit" class="btn btn-default">{# Register #}{{ 'rainlab.user::lang.account.register' | trans }}</button>

    {{ form_close() }}
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
