<form
    data-request="onSignin">
    <div class="form-group">
        <label for="signinEmail">Email</label>
        <input name="email" type="email" class="form-control" id="signinEmail" placeholder="Enter your email">
    </div>

    <div class="form-group">
        <label for="signinPassword">Password</label>
        <input name="password" type="password" class="form-control" id="signinPassword" placeholder="Enter your password">
    </div>

    <button type="submit" class="btn btn-default">Sign in</button>
</form>