<form
    data-request="onSignin">
    <div class="form-group">
        <label for="signinLogin">Login</label>
        <input name="login" type="text" class="form-control" id="signinLogin" placeholder="Enter your login">
    </div>

    <div class="form-group">
        <label for="signinPassword">Password</label>
        <input name="password" type="password" class="form-control" id="signinPassword" placeholder="Enter your password">
    </div>

    <button type="submit" class="btn btn-default">Sign in</button>
</form>