{{ form_ajax('onUpdate', { model: user }) }}

    <div class="form-group">
        <label for="accountName">Full Name</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ form_value('name') }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ form_value('email') }}">
    </div>

    <div class="form-group">
        <label for="accountCompany">Company</label>
        <input name="company" type="text" class="form-control" id="accountCompany" placeholder="Enter your company or business name" value="{{ form_value('company') }}">
    </div>

    <div class="form-group">
        <label for="accountPhone">Phone</label>
        <input name="phone" type="text" class="form-control" id="accountPhone" placeholder="Enter your contact phone number" value="{{ form_value('phone') }}">
    </div>

    <div class="form-group">
        <label for="accountAddress">Address</label>
        <input name="street_addr" type="text" class="form-control" id="accountAddress" placeholder="Enter your street address" value="{{ form_value('address') }}">
    </div>

    <div class="form-group">
        <label for="accountCity">City / Suburb</label>
        <input name="city" type="text" class="form-control" id="accountCity" placeholder="Enter your city or suburb" value="{{ form_value('city') }}">
    </div>

    <div id="partialCountryState">
        {% partial __SELF__ ~ '::country_state' %}
    </div>

    <div class="form-group">
        <label for="accountZip">Postal code</label>
        <input name="zip" type="text" class="form-control" id="accountZip" placeholder="Enter your zip / post code" value="{{ form_value('zip') }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <button type="submit" class="btn btn-default">Save</button>

{{ form_close() }}