subject = "An Account Has Been Created For You"
description = "Invite a new user to the website"
==
Hello {{ first_name }}

You are receiving this email because we received a request to create a new user account for you. If you did not perform this request, you can safely ignore this email.

{% partial 'button' url=url body %}
Confirm Account
{% endpartial %}

This confirmation link will expire in {{ count }} minutes. You may attempt this again using our password recovery service.

{% partial 'subcopy' body %}
If you're having trouble clicking the button, copy the URL below into your browser.

<span class="break-all">{{ url|raw }}</span>
{% endpartial %}
