subject = "Requested Password Reset"
description = "User requests a password reset"
==
Hello {{ name }}

Somebody has requested a password reset for your account, if this was not you, please ignore this email.

Use the this activation code to restore your password:

{% component 'promotion' %}
{{ code }}
{% endcomponent %}

You can use the following link:

{% component 'button' url=link type='positive' %}
Restore password
{% endcomponent %}

{% component 'subcopy' %}
    **This is an automatic message. Please do not reply to it.**
{% endcomponent %}
