<form method="post" data-request="onRegister" data-request-flash data-request-update="{ '_self': true }">
    <input type="hidden" name="redirect" value="true" />

    {% if awaitingActivation or awaitingApproval %}
        <div class="text-center pb-3">
            <h1 class="h2 mb-3">{{ 'Thank you'|_ }}</h1>
            {% if awaitingActivation %}
                <p class="h5 fw-normal">
                    {{ 'Please check your email to confirm your address.'|_ }}
                </p>
            {% endif %}
            {% if awaitingApproval %}
                <p class="h5 fw-normal">
                    {{ 'Your account is awaiting approval from an administrator.'|_ }}
                </p>
            {% endif %}
        </div>
    {% elseif __SELF__.canRegister %}
        <div class="text-center pb-3">
            <h1 class="h2 mb-3">{{ 'Create a new account'|_ }}</h1>
            <h2 class="h5 fw-normal">{{ 'Enter your information below'|_ }}</h2>
        </div>

        <div class="form-floating my-3">
            <input
                name="first_name"
                type="text"
                class="form-control"
                id="inputFirstName"
                placeholder="{{ 'First name'|_ }}"
                autocomplete="given-name"
            />
            <label for="inputFirstName">{{ 'First name'|_ }}</label>
        </div>

        <div class="form-floating my-3">
            <input
                name="last_name"
                type="text"
                class="form-control"
                id="inputLastName"
                placeholder="{{ 'Last name'|_ }}"
                autocomplete="family-name"
            />
            <label for="inputLastName">{{ 'Last name'|_ }}</label>
        </div>

        <div class="form-floating my-3">
            <input
                name="email"
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="{{ 'Email address'|_ }}"
                autocomplete="email"
            />
            <label for="inputEmail">{{ 'Email address'|_ }}</label>
        </div>

        <div class="form-floating my-3">
            <input
                name="password"
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="{{ 'Password'|_ }}"
                autocomplete="new-password"
            />
            <label for="inputPassword">{{ 'Password'|_ }}</label>
        </div>

        <button
            class="btn btn-primary btn-lg w-100 py-2"
            data-attach-loading
            type="submit">
            {{ 'Create account'|_ }}
        </button>
    {% else %}
        <div class="text-center pb-3">
            <h1 class="h2 mb-3">{{ 'Create a new account'|_ }}</h1>
            <h2 class="h5 fw-normal">{{ 'Registrations are currently disabled'|_ }}</h2>
        </div>
    {% endif %}

    <div class="text-center">
        <p class="mt-5 mb-1 text-body-secondary">
            {{ 'Already have an account?'|_ }} <a href="{{ 'account/login'|page }}">{{ 'Sign in here'|_ }}</a>
        </p>
    </div>
</form>
