<p class="lead">
    {{ 'rainlab.user::lang.account.activation_code_check'|trans }}
</p>

<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">{{ 'rainlab.user::lang.account.activation_code'|trans }}</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="{{ 'rainlab.user::lang.account.activation_code_placeholder'|trans }}" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">{{ 'rainlab.user::lang.account.new_password'|trans }}</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="{{ 'rainlab.user::lang.account.new_password_placeholder'|trans }}">
    </div>

    <button type="submit" class="btn btn-default">{{ 'rainlab.user::lang.account.password_reset'|trans }}</button>
</form>
