<p class="lead">
    <strong>{{ 'rainlab.user::lang.account.password_lost'|trans }}</strong> {{ 'rainlab.user::lang.account.password_no_problem'|trans }}
</p>

<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">{{ 'rainlab.user::lang.account.email'|trans }}</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="{{ 'rainlab.user::lang.account.email_placeholder'|trans }}">
    </div>

    <button type="submit" class="btn btn-default">{{ 'rainlab.user::lang.account.password_restore'|trans }}</button>
</form>
