.rainlab-user-new-users {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px -20px;
    overflow: hidden;
}

.rainlab-user-new-users > div {
    margin-top: 0 !important;
    min-width: 100px;
    padding: 10px;
}